<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <main>
        <h1>Recipe List</h1>
        <ul class="recipe-list">
            <% for(let i = 0; i < list.length; i++) {%>
                <li>
                    <span><%= list[i].recipeName %></span>
                </li>
        <% } %>
        </ul>
    </main>
</body>
</html>